<h1>Create Appointment</h1>

<%= form_for :appointment, url: user_appointments_path do |f| %>

  <p>
    <%= f.label :appointment_time %><br>

    <%= f.datetime_select :appointment_time, :ampm => true, :minute_step => 15 %>
  </p>

  <p>
    <%= f.label :appointment_duration %><br>
    <%= f.minute_select(:appointment_duration) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
