<!DOCTYPE html>
<html>
<head>
  <title>FolioApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
  <header>Folio App
    <%= link_to "Register", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  </header>

  <div id='main'>

    <article>
      <%= yield %>
    </article>

    <nav>nav</nav>

    <aside>aside</aside>

  </div>

  <footer>Folio App (c) 2014 - Made with love and care by Jesse Ma - All rights reserved.</footer>
</body>
</html>
